<%= render 'shared/content_title', title: "<small>Activity of:</small> #{@user.username}".html_safe %>

<div class="well">
  <dl>
    <dt>User time zone:</dt>
    <dd><%= @user.timezone || "#{Time.zone.name} [default]" %></dd>
  </dl>
  <% if logged_in? && (@user == current_user || admin?) %>
    <%= link_to 'Edit profile', edit_user_path(@user), class: 'btn btn-warning' %>
  <% end %>
</div>

<ul class="nav nav-tabs">
  <li <%= @posts_or_comments == :posts ? 'class=active' : '' %>>
    <a href="?show=posts">Posts (<%= @user.posts.size %>)</a>
  </li>
  <li <%= @posts_or_comments == :comments ? 'class=active' : '' %>>
    <a href="?show=comments">Comments (<%= @user.comments.size %>)</a>
  </li>
</ul>

<div class="tab-content">
  <div id="posts" class="tab-pane <%= @posts_or_comments == :posts ? 'active' : '' %>">
    <% if @posts %>
      <%= render @posts %>
    <% end %>
    <%= render 'shared/pagination', collection: @posts %>
  </div>

  <div id="comments" class="tab-pane <%= @posts_or_comments == :comments ? 'active' : '' %>">
    <% if @comments %>
      <%= render @comments, show_post_title: true %>
    <% end %>
    <%= render 'shared/pagination', collection: @comments %>
  </div>
</div>
