<div class="row">
  <div class="span0 well text-center">
    <% if logged_in? %>
      <%= link_to vote_post_path(post, vote: true), method: :post, remote: true do %>
        <i class="icon-arrow-up"></i>
      <% end %>
    <% end %>
    <div id="post-<%= post.slug %>-votes">
      <%= post.votes_count %> votes
    </div>
    <% if logged_in? %>
      <%= link_to vote_post_path(post, vote: false), method: :post, remote: true do %>
        <i class="icon-arrow-down"></i>
      <% end %>
    <% end %>
  </div>
  <div class="span6 well">
    <p><%= render post.categories %></p>
    <h3><%= link_to post.title, full_url(post.url) %></h3>
    <p><%= post.description %></p>
    <p class="post-details">
      <small>created </small>
      <% if post.creator %>
        <small>by</small>
        <%= link_to post.creator.username, post.creator %>
      <% end %>
      <%= "<small>on #{short_date(post.updated_at)}</small>".html_safe %>
    </p>
    <p>
      <%= link_to "#{post.comments.size} comments", post, class: 'btn btn-success' %>
    </p>
  </div>
</div>
