<div class="container">
  <%= render 'shared/content_title', title: 'Recent posts:' %>

  <% @posts.each do |post| %>
    <div class="row">
      <div class="span8 well">
        <p><%= render post.categories %></p>
        <h3><%= link_to post.title, post.url %></h3>
        <p><%= post.description %></p>
        <p class="post-details">
          <%= "created by #{post.creator.username} at #{post.updated_at.to_time.strftime('%b %d %H:%M')}" %>
        </p>
        <p><%= link_to "#{post.comments.size} comments", post, class: 'btn btn-success' %></p>
      </div>
    </div>
  <% end %>
</div>
