<div class="container">
  <span class="lead">Recent posts:</span>
  <hr />

  <% @posts.each do |post| %>
    <div class="row">
      <div class="span8 well">
        <p>
          <% post.categories.each do |category| %>
            <%= link_to category.name, '#', class: 'badge' %>
          <% end %>
        </p>
        <h3><%= link_to post.title, post.url %></h3>
        <p><%= post.description %></p>
        <p class="post-details">
          <%= "created by #{post.creator.username} at #{post.updated_at.to_time.strftime('%b %d %H:%M')}" %>
        </p>
        <p><%= link_to "#{post.comments.size} comments", post, class: 'btn btn-success' %></p>
      </div>
    </div>
  <% end %>
</div>
