<%= render 'shared/content_title', title: "<small>Showing post:</small> #{@post.title}".html_safe %>

<div class="row">
  <div class="well span6">
    <p><%= render @post.categories %></p>
    <p><%= link_to full_url(@post.url) %></p>
    <p><%= @post.description %></p>
    <p class="post-details">
      <small>created </small>
      <% if @post.creator %>
        <%= "<small>by</small> #{@post.creator.username} ".html_safe %>
      <% end %>
      <%= "<small>on #{short_date(@post.created_at)}</small>".html_safe %>
    </p>
    <% if logged_in? && (@post.creator == current_user || admin? || moderator?) %>
      <%= link_to 'Edit post', edit_post_path(@post), class: 'btn btn-warning' %>
    <% end %>
    <%= link_to 'Back to all posts', posts_path, class: 'btn btn-default' %>
  </div>
</div>

<span class="lead"><small>Create a comment:</small></span>
<%= render 'shared/errors', object: @comment %>

<% if logged_in? %>
  <div class="row">
    <%= form_for [@post, @comment] do |f| %>
      <div class="well span6">
        <div class="control-group">
          <%= f.label :body, 'New comment' %>
          <%= f.text_area :body, class: 'span6'%>
        </div>
        <div class="control-group">
          <%= f.submit 'Add', class: 'btn btn-success' %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

<% if @post.comments(true).any? %>
  <span class="lead"><small>Comments for this post:</small></span>
  <%= render (@post.comments.all order: 'updated_at DESC') %>
<% end %>
