<div class="container">
  <p>
    <% @post.categories.each do |category| %>
      <%= link_to category.name, '#', class: 'badge' %>
    <% end %>
  </p>
  <p class="lead"><%= @post.title %></p>
  <div class="row">
    <div class="col span8 well">
      <p><%= link_to @post.url %></p>
      <p><%= @post.description %></p>
    </div>
  </div>
  <%= link_to 'Back to all posts', posts_path, class: 'btn btn-success' %>
</div>
