<div class="container">
  <p><%= render @post.categories %></p>
  <%= render 'shared/content_title', title: @post.title %>
  <div class="row">
    <div class="col span8 well">
      <p><%= link_to @post.url %></p>
      <p><%= @post.description %></p>
    </div>
  </div>
  <%= link_to 'Back to all posts', posts_path, class: 'btn btn-success' %>
</div>
