<div class="row">
  <%= render 'shared/errors', object: @category %>
</div>

<div class="row">
  <div class="well span6">
    <%= form_for @category do |f| %>
      <div class="controls-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: 'span6'%>
      </div>
      <div class="controls-group">
        <%= f.submit(@category.new_record? ? 'Create' : 'Update', class: 'btn btn-success') %>
      </div>
    <% end %>
  </div>
</div>
