<ul class="nav">
  <li>
    <%= link_to "Postit!", root_path, :class => 'brand' %>
  </li>
</ul>

<div class="nav nav-group">
  <div class="dropdown">
    <%= link_to '#', class: 'dropdown-toggle btn btn-small btn-default', 'data-toggle' => 'dropdown' do %>
      Categories <span class="caret"></span>
    <% end %>
    <ul class="dropdown-menu">
      <% category_list.each do |category| %>
        <li><%= link_to category.name, category %></li>
      <% end %>
      <li class="divider"></li>
      <li><%= link_to 'Show all categories', categories_path %></li>
      <% if logged_in? && admin? %>
        <li>
          <%= link_to new_category_path do %>
            <i class='icon-plus'></i>
            New category
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<% if logged_in? %>
  <div class="nav">
    <%= link_to 'New post', new_post_path, class: 'btn btn-success btn-small' %>
  </div>
  <div class="nav nav-group">
    <div class="dropdown">
      <%= link_to '#', class: 'dropdown-toggle btn btn-small btn-default', 'data-toggle' => 'dropdown' do %>
        <i class="icon-user"></i>
        <%= current_user.username %> <span class="caret"></span>
      <% end %>
      <ul class="dropdown-menu">
        <li>
          <%= link_to current_user do %>
            <i class='icon-tasks'></i>
            Show activity
          <% end %>
        </li>
        <li>
          <%= link_to edit_user_path(current_user) do %>
            <i class='icon-pencil'></i>
            Edit profile
          <% end %>
        </li>
        <li>
          <%= link_to logout_path do %>
            <i class='icon-off'></i>
            Logout
          <% end %>
        </li>
      </ul>
    </div>
  </div>
<% else %>
  <div class="nav">
    <%= link_to 'Register', register_path, class: 'btn btn-default btn-small' %>
  </div>
  <div class="nav">
    <%= link_to 'Login', login_path, class: 'btn btn-default btn-small' %>
  </div>
<% end %>
